.cstBlueButton {
    display: inline-flex;
    padding: 24px 35px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    margin-top: 30px;
    width: max-content;
    height: max-content;
    background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light), var(--color-primary));
    background-size: 200% 100%;
    background-position: 0% 0%;
    color: #fff;
    font-family: var(--font-inter);
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 25px;
    transition: background-position 0.4s ease;
}

.cstBlueButtonNoMargin {
    margin: 0;
}

.cstBlueButton:hover {
    background-position: 100% 0%;
}

@media (max-width: 1280px) {
    .cstBlueButton {
        display: flex;
        padding: 15px 20px;
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
        font-size: var(--font-size-sm);
    }
}
