.cstBlock32section {
    display: flex;
    gap: 15px;
    padding: 40px 35px 0;
    width: 1160px;
    margin-top: 130px;
    border-radius: 30px;
    background: #FBFBFD;
    box-shadow: 0 10px 40px 0 rgba(23, 82, 251, 0.06);
}

.cstBlock32left,
.cstBlock32right {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.cstBlock32leftTop,
.cstBlock32rightTop {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: auto;
}

.cstBlock32leftTop {
    max-width: 530px;
}

.cstBlock32rightTop {
    max-width: 560px;
}

.cstBlock32title {
    font-family: var(--font-onest);
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 35px;
}

.cstBlock32titleBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.cstBlock32description {
    color: var(--color-gray);
    font-family: var(--font-inter);
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 51px;
}

@media (max-width: 1280px) {
    .cstBlock32section {
        width: 320px;
        margin-top: 70px;
        padding: 20px 20px 0 20px;
        flex-direction: column;
        gap: 25px;
    }

    .cstBlock32left,
    .cstBlock32right {
        gap: 20px;
    }

    .cstBlock32leftTop,
    .cstBlock32rightTop {
        max-width: 100%;
    }

    .cstBlock32title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .cstBlock32titleBlue {
        font-size: 25px;
    }

    .cstBlock32description {
        font-size: 14px;
        margin-bottom: 25px;
    }
}
