.cstBlock4section {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

/* <<< 1 блок >>> */

.cstBlock4title {
    width: 680px;
    text-align: center;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
}

.cstBlock4titleBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

/* <<< 2 блок >>> */

.cstBlock4productContainer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 20px;
}

.cstBlock4productBlock {
    width: 570px;
    border-radius: 25px;
    background: var(--color-bg);
    box-shadow: 0 10px 40px 0 rgba(23, 82, 251, 0.06);
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.cstBlock4productDescriptionNumber {
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-blue-light);
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 20px;
    width: max-content;
}

.cstBlock4productDescriptionTitle {
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 115%;
    margin-top: 20px;
    max-width: 420px;
}

.cstBlock4productDescriptionTitleBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 115%;
}

.cstBlock4productDescriptionDescription {
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    margin-top: 25px;
    max-width: 450px;
}


.cstBlock4image {
    width: 87px;
    height: 87px;
}


@media (max-width: 1280px) {
    .cstBlock4section {
        width: 320px;
        margin-top: 70px;
        padding: 0 10px;
    }

    .cstBlock4title {
        width: 272px;
        text-align: left;
        font-size: 25px;

    }

    .cstBlock4titleBlue {
        font-size: 25px;

    }

    .cstBlock4productContainer {
        flex-direction: column;
        margin-top: 25px;
    }

    .cstBlock4productBlock {
        width: 100%;
    }

    .cstBlock4productDescriptionNumber {
        padding: 12px 19px;
    }

    .cstBlock4productDescriptionTitle {
        font-size: 20px;
        margin-top: 15px;
    }

    .cstBlock4productDescriptionTitleBlue {
        font-size: 20px;
    }

    .cstBlock4productDescriptionDescription {
        font-size: 14px;
        margin-top: 20px;
    }
}
