.cstBlock25section {
    width: 1160px;
    margin-top: 130px;
    border-radius: 30px;
    background: var(--gradient-blue);
    padding: 40px 0 70px 35px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.cstBlock25titleContainer {
    display: flex;
    flex-direction: column;
}

.cstBlock25preTitle {
    color: var(--color-bg);
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    width: max-content;
    background: rgba(251, 251, 253, 0.10);
}

.cstBlock25title {
    color: var(--color-bg);
    font-family: var(--font-onest);
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
    margin-top: 20px;
    max-width: 630px;
}

.cstBlock25description {
    color: var(--color-bg);
    font-family: var(--font-inter);
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    margin-top: 45px;
    max-width: 524px;
}

.cstBlock25titleImages {
    position: absolute;
    right: 18px;
    width: 567px;
    bottom: 0;
}

.cstBlock25absContainerIn {
    position: absolute;
    top: 124px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cstBlock25absTop {
    display: flex;
    width: 272px;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    border: 1px solid var(--color-border);
}

.cstBlock25absIcon {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--color-blue-light);
}

.cstBlock25absTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cstBlock25absTitle {
    color: var(--color-dark);
    text-align: center;
    font-family: var(--font-inter);
    font-size: var(--font-size-md);
    font-weight: 700;
    line-height: 22px;
}

.cstBlock25absDescription {
    color: var(--color-gray);
    text-align: center;
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
}

@media (max-width: 1280px) {
    .cstBlock25section {
        width: 320px;
        margin-top: 70px;
        padding: 20px 15px 0 15px;
    }
    .cstBlock25titleContainer{
        align-items: center;
    }
    .cstBlock25preTitle {
        font-size: 12px;
        padding: 10px 15px;
        text-align: center;
        max-width: 230px;
        display: inline-block;
    }

    .cstBlock25title {
        font-size: 25px;
        text-align: center;
    }

    .cstBlock25description {
        font-size: 14px;
        margin-top: 25px;
        text-align: center;
    }

    .cstBlock25titleImages {
        position: relative;
        top:0;
        left:0;
        width: 100%;
    }

    .cstBlock25absContainerIn {
        top: 60px;
    }
    .cstBlock25absTop{
        width: 130px;
        gap: 10px;
        padding: 10px 0;
    }
    .cstBlock25absIcon{
            width: 35px;
    height: 35px;
    }
    .cstBlock25absTextContainer{
        gap: 4px;
    }
    .cstBlock25absIcon svg{
            width: 20px;
    height: 20px;
    }
    .cstBlock25absTitle{
        font-size: 10px;
    }
    .cstBlock25absDescription{
            line-height: 10px;
                font-size: 8px;

    }
    .cstBlock25Btn{
        display: none !important;
    }
}
