.cst-block-2-section {
    width: 1160px;
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

/* <<< 1 блок >>> */

.cst-block-2-title {
    width: 680px;
    text-align: center;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
}

.cst-block-2-title-blue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

/* <<< 2 блок >>> */

.cst-block-2-product-container {
    display: flex;
    gap: 20px;
    position: relative;
    flex-wrap: wrap;
}

.cst-block-2-product-block {
    width: 570px;
    height: 346px;
    border-radius: 25px;
    background: var(--color-bg);
    box-shadow: 0 10px 40px 0 rgba(23, 82, 251, 0.06);
    padding: 25px;
    display: flex;
    gap: 25px;
}

.cst-block-2-product-icon {
    width: 110px;
    height: 110px;
    border-radius: 15px;
    background: var(--color-blue-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cst-block-2-product-description-container {
    display: flex;
    flex-direction: column;
}

.cst-block-2-product-description-number {
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-blue-light);
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 20px;
    width: max-content;
}

.cst-block-2-product-description-title {
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 115%;
    margin-top: 20px;
}

.cst-block-2-product-description-title-blue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 115%;
}

.cst-block-2-product-description-description {
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    margin-top: 25px;
}

.cst-block-2-product-description-more {
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 20px;
    text-decoration: underline;
    margin-top: auto;
}

.cst-block-2-image {
    width: 87px;
    height: 87px;
}

.cst-block-2-product-little-star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* <<< 3 блок >>> */

.cst-block-2-btn {
    display: inline-flex;
    padding: 24px 35px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    margin-top: 45px;
    width: max-content;
    background: var(--gradient-blue);
    color: #FFF;
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 25px;
}
