.cstBlock27section {
    width: 1160px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
    height: 560px;
}

.cstBlock27features {
    font-family: var(--font-onest);
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
    margin-top: 20px;
    width: 508px;
}

.cstBlock27featuresBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest);
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

.cstBlock27features2 {
    width: 379px;
    color: var(--color-gray);
    font-family: var(--font-inter);
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 25px;
    margin-top: 45px;
}

.cstBlock27bigImage {
    width: 699px;
    height: 549px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (max-width: 1280px) {
    .cstBlock27section {
        width: 320px;
        margin-top: 70px;
        padding: 0 10px;
    }

    .cstBlock27features {
        font-size: 25px;
    }

    .cstBlock27featuresBlue {
        font-size: 25px;
    }

    .cstBlock27features2 {
        width: 100%;
        font-size: 14px;
        margin-top: 25px;
    }

    .cstBlock27bigImage {
        position: relative;
        height: auto;
        width: 100%;
        right: 0;
    }
}
