.cst-block-5-section {
    width: 1160px;
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

/* <<< 1 блок >>> */

.cst-block-5-own-manager {
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-blue-light);
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
}

/* <<< 2 блок >>> */

.cst-block-5-title {
    margin-top: 20px;
    width: 639px;
    text-align: center;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
}

.cst-block-5-title-blue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

/* <<< 3 блок >>> */

.cst-block-5-card-container {
    display: flex;
    gap: 19px;
    margin-top: 50px;
}

.cst-block-5-card {
    width: 276px;
    height: 442px;
    border-radius: 25px;
    background: var(--color-bg);
    box-shadow: 0 10px 40px 0 rgba(23, 82, 251, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cst-block-5-step {
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-blue-light);
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 20px;
    width: max-content;
}

.cst-block-5-img {
    width: 226px;
    height: 200px;
    border-radius: 15px;
    background: var(--color-blue-light);
    margin-top: 20px;
}

.cst-block-5-description {
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    margin-top: 25px;
}
