.cstBlock13section {
    width: 1160px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}

.cstBlock13features {
    font-family: var(--font-onest), sans-serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
    margin-top: 20px;
}

.cstBlock13featuresBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), sans-serif;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

.cstBlock13features2 {
    margin-top: 45px;
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 28px;
}

.cstBlock13features2 ul {
    padding: 0 0 0 20px !important;
}

.cstBlock13features2 li {
    list-style-type: disc;
}

.cstBlock13btn {
    display: inline-flex;
    padding: 24px 35px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    margin-top: 30px;
    width: max-content;
    background: var(--gradient-blue);
    color: #FFF;
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 25px;
}

.cstBlock13bigImage {
    width: 829.548px;
    height: 621.144px;
    aspect-ratio: 203/152;
    position: absolute;
    top: 20px;
    right: -70px;
    z-index: -1;
}
