.cstBlock6section {
    width: 1160px;
    margin-top: 130px;
    border-radius: 30px;
    background: var(--color-blue-light);
    padding: 40px 0 0 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.cstBlock6titleContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cstBlock6title {
    width: 394px;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
}

.cstBlock6titleBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), serif;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

.cstBlock6description {
    width: 353px;
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
}

.cstBlock6inputContainer {
    display: flex;
    gap: 54px;
    justify-content: end;
    width: 491px;
    height: 86px;
    border-radius: 20px;
    background: var(--color-bg);
    box-shadow: 0 10px 20px 0 rgba(23, 82, 251, 0.06);
    padding: 10px;
    margin-top: 45px;
}

.cstBlock6inputBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.cstBlock6input {
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 20px;
    width: 129px;
}

.cstBlock6button {
    display: flex;
    padding: 22px 33px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 15px;
    background: var(--gradient-blue);
    color: #FFF;
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
}

.cstBlock6agreementContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 34px;
}

.cstBlock6agreementCheckbox {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color-bg);
    box-shadow: 0 10px 20px 0 rgba(23, 82, 251, 0.06);
}

.cstBlock6agreementText {
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
}

.cstBlock6agreementLink {
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
    text-decoration: underline;
}

.cstBlock6titleImages {
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translate(0, -50%);
}

.cstBlock6headphones {
    width: 593px;
    height: 419.865px;
}
