.cstBlock33section {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    border-radius: 30px;
    padding: 40px 35px 35px;
    background: var(--gradient-blue);
}

.cstBlock33ownManager {
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-blue-light);
    color: var(--color-primary);
    font-family: var(--font-inter);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
}

.cstBlock33title {
    margin-top: 20px;
    text-align: center;
    color: var(--color-bg);
    font-family: var(--font-onest);
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
}

.cstBlock33description {
    text-align: center;
    font-family: var(--font-inter);
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    margin-top: 45px;
    color: var(--color-bg);
    width: 473px;
}

.cstBlock33subDescription {
    color: var(--color-bg);
    max-width: 504px;
    text-align: center;
    font-family: var(--font-onest);
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 115%;
    margin-top: 35px;
}

.cstBlock33cardContainer {
    display: flex;
    gap: 35px;
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
}

.cstBlock33cardRow {
    display: flex;
    gap: 19px;
}

.cstBlock33card {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cstBlock33cardTop {
    gap: 25px;
    border-radius: 15px;
    border: 1px solid var(--color-border);
    display: inline-flex;
    padding: 22px 20px;
    align-items: center;
    height: 88px;
    width: 261px;
}

.cstBlock33cardTopIcon {
    border-radius: 10px;
    background: var(--color-blue-light);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cstBlock33cardTopText {
    color: var(--color-bg);
    font-family: var(--font-inter);
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
}

.cstBlock33cardBot {
    width: 261px;
    height: 200px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1280px) {
    .cstBlock33section {
        width: 320px;
        margin-top: 70px;
        padding: 15px 10px;
        align-items: center;
    }

    .cstBlock33ownManager {
        padding: 10px 15px;
        font-size: 12px;
        display: inline;
        border-radius: 10px;
        background: rgba(251, 251, 253, 0.10);
        color: var(--color-bg);
        align-items: center;
    }

    .cstBlock33title {
        font-size: 25px;
        max-width: 260px;
        text-align: center;
    }

    .cstBlock33description {
        font-size: var(--font-size-sm);
        margin-top: 25px;
        text-align: center;
        width: auto;
    }

    .cstBlock33subDescription {
        font-size: 20px;
        margin-top: 20px;
        width: 260px;
        text-align: center;
    }

    .cstBlock33cardContainer {
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
    }

    .cstBlock33card {
        width: 100%;
        gap: 15px;
    }

    .cstBlock33cardTop {
        width: 100%;
        height: auto;
    }

    .cstBlock33cardTopText {
        font-size: var(--font-size-sm);
    }

    .cstBlock33cardBot {
        width: 100%;
        height: 150px;
        border-radius: 15px;
    }

    .cstBlock33cardRow {
        flex-direction: column;
    }
}
