.cstBlock35section {
    width: 1160px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 130px;
    justify-content: center;
}

.cstBlock35title {
    text-align: center;
    font-family: var(--font-onest);
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
}

.cstBlock35titleBlue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cstBlock35iconsContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cstBlock35iconsContainer svg {
    width: 73px;
    height: 73px;
}

@media (max-width: 1280px) {
    .cstBlock35section {
        width: 320px;
        margin-top: 70px;
        padding: 0 10px;
        gap: 25px;
    }

    .cstBlock35title {
        font-size: 25px;
        text-align: left;
        max-width: 220px;
    }

    .cstBlock35iconsContainer {
        flex-wrap: wrap;
        gap: 10px;
    }

    .cstBlock35iconsContainer svg {
        width: 50px;
        height: 50px;
    }
}
