.cst-block-13-section {
    width: 1160px;
    height: 618.762px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.cst-block-13-background {
    display: inline-flex;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-blue-light);
    margin-top: 65px;
    width: max-content;
}

.cst-block-13-background-text {
    color: var(--color-primary);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
}

.cst-block-13-features {
    font-family: var(--font-onest), sans-serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
    margin-top: 20px;
}

.cst-block-13-features-blue {
    background: var(--gradient-blue-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-onest), sans-serif;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    line-height: 110%;
}

.cst-block-13-features-2 {
    margin-top: 45px;
    color: var(--color-gray);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 28px;
}

.cst-block-13-features-2 ul {
    padding: 0 0 0 20px !important;
}

.cst-block-13-features-2 li {
    list-style-type: disc;
}

.cst-block-13-btn {
    display: inline-flex;
    padding: 24px 35px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    margin-top: 30px;
    width: max-content;
    background: var(--gradient-blue);
    color: #FFF;
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 25px;
}

.cst-block-13-big-image {
    width: 829.548px;
    height: 621.144px;
    aspect-ratio: 203/152;
    position: absolute;
    top: 20px;
    right: -70px;
    z-index: -1;
}
