.cst-block-9-section {
    width: 1160px;
    height: 513px;
    margin-top: 130px;
    border-radius: 30px;
    background: var(--gradient-blue);
    padding: 40px 0 50px 35px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.cst-block-9-title-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cst-block-9-title {
    color: var(--color-bg);
    font-family: var(--font-onest), sans-serif;
    font-size: var(--font-size-2xl);
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 10px;
}

.cst-block-9-description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cst-block-9-description {
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    border-radius: 14px;
    background: rgba(251, 251, 253, 0.10);
    color: var(--color-bg);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    line-height: 22px;
    width: max-content;
}

.cst-block-9-btn {
    display: inline-flex;
    padding: 24px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--color-bg);
    color: var(--color-primary);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-lg);
    font-weight: 500;
    line-height: 25px;
    width: max-content;
}

.cst-block-9-title-image {
    width: 567px;
    height: 100%;
    position: absolute;
    right: 18px;
    top: 0;
}
