header {
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg);
    box-shadow: 0 4px 20px 0 rgba(23, 82, 251, 0.04);
    z-index: 1000;
    padding: 0 70px;
}

.cst-center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cst-gap-header-div {
    display: inline-flex;
    align-items: center;
    gap: 25px;
    margin-left: 150px;
}

.cst-header-products {
    display: flex;
    gap: 2px;
}

.cst-header-text {
    color: var(--color-dark);
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.cst-header-btn-container {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.cst-header-btn,
.cst-header-btn-login,
.cst-header-btn-register {
    display: inline-flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-family: var(--font-inter), sans-serif;
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 20px;
}

.cst-header-btn,
.cst-header-btn-login {
    background: var(--color-blue-light);
    color: var(--color-primary);
}

.cst-header-btn-register {
    background: var(--color-primary);
    color: var(--color-bg);
}

.cst-header-links-icons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.cst-product-arrow {
    width: 20px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
